/*==========================*/
/*Basic Setup */
/*=========================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 1.6rem;
}
ul li{
    list-style-type: none;
}
/* Heading */
h1{
    font-size: 3.75rem;
    color: #fff;
}

.clearfix::after{
    content: "";
    visibility: hidden;
    display: table;
    clear: both;
    height: 0;
}
/*==========================*/
/* Reusable Components */
/*=========================*/
.row{
    margin: 0 auto;
    max-width: 114rem;
}
.btn:link,.btn:visited,.btn{
    background: #333;
    border-bottom: 0.3rem solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
}
section{
    padding: 10rem;
}
h2{
    font-size: 4rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}
h2::after{
    content: "";
    display: block;
    height: 0.4rem;
    background-color: #14A58C;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
}

h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
}
h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
}
.box{
    padding: 1%;
}
.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
}

/*paragraph*/
.little-discription{
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
}

/*==========================*/
/* Header Section */
/*=========================*/
header{
    background: linear-gradient(rgba(135,80,156,0.9),rgba(135,80,156,0.9)), url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}
.hero-text-box{
    width: 114rem;
}
.logo{
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

/* Main Navigation */
.main-nav{
    float: right;
    margin-top: 4rem;
}
.main-nav li{
    display: inline-block;
    margin-left: 1rem;
}
.main-nav li:first-child{
    margin-left: 0;
}
.main-nav li a:link,.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100,58,121,0);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: 0.3s;
}

.main-nav li:hover a:link,.main-nav li:hover a:visited{
    background: rgba(100,58,121,1);
}
.main-nav li.active a{
    background: rgba(100,58,121,1);
}

/* Sticky Navigation */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(135, 80, 156, 0.9);
    padding: 1rem 0;
    box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.9);
    z-index: 9999;
}
.sticky .logo{
    margin-top: 0;
}
.sticky .main-nav{
    margin-top: 0;
}
/* Mobile logo */
.mobile-menu span{
    color: #fff;
    font-size: 4rem;
    float: right;
    margin-top: 2rem;
    display: none;
}
.mobile-menu span:hover{
    cursor: pointer;
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.btn-hero:link,.btn-hero:visited{
    background: #EB7D4B;
    border-color: #C86A40;
}
.overlay{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content{
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
   
}

.overlay a{
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #999;
    padding: 1rem 0;
}
.overlay a:hover{
    color: #ffffff;
}
.closebtn{
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 6rem;
}
.sticky .mobile-menu span{
    margin-top: 0;
    line-height: 1;
}

/*==========================*/
/* Services Section */
/*=========================*/

.services-section{
    color: #fff;
    text-align: center;
    background: linear-gradient(rgba(23,194,164,0.9),rgba(23,194,164,0.9)),url(img/services-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.services-section h2::after{
    background: #14a58c;
}
.services-icon{
    height: 12rem;
    
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}

/*==========================*/
/* Team Section */
/*=========================*/

.team-section {
    background: linear-gradient(rgba(231,241,248,0.9),rgba(231,241,248,0.9)),url(img/team-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    text-align: center;
}
.team-section h2{
    color: #3C4761;
}
.team-section h2::after{
    background: #C8D9E5;
}
.team-member{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
.team-section h3{
    color: #27283D;
}
.role{
    color: #30BAE7;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: 0.5rem;
    display: inline-block;

}
.team-section  .box p{
    color: #535E75;
}
.social-link {
    margin-top: 4.5rem;
}
.social-link ul li{
    display: inline-block;
    margin: 0 0.5rem;
    
}


.social-link ul li a:link{
    color: #fff;
    
}
.social-link ul li i{
    color: #fff;
    
}
.social-link ul li a:link i::before{
    background: #bdd1df;
    
    width: 2rem;
    
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    transition: 0.3s;
}
.social-link ul li a:hover i::before{
    background: #393939;
    transform: rotate(360deg);
}

/*==========================*/
/* Skill Development */
/*=========================*/

/* Animated circle */

/* Start */
svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
  }
  
  svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; 
    stroke-width: 10;
  }
  
  svg.radial-progress circle.incomplete { opacity: 0.25; }
  
  svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
  
  svg.radial-progress text {
    fill: #fff;
    text-anchor: middle;
  }
  /* END */

.skill-section{
    background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),url(img/skill-bg.jpg);
    color: #3C4761;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.skill-section h2{
    color: #3C4761;
}
.skill-section h2::after{
    background: #DFE8ED;
}

.skill-section h3{
    color: #3C4761;
}
.skill-section .box{
    margin-top: 4.5rem;

}

svg.radial-progress circle{
    stroke-width: 5;
}

svg.radial-progress text{
    fill: #3C4761;
    font-size: 1.5rem;

}

svg.web-design circle{
    stroke: #30BAE7;
}
svg.html-css circle{
    stroke: #D74680;
}
svg.graphic-design circle{
    stroke: #15C7A8;
}

svg.ui-ux circle{
    stroke: #EB7D4B;
}


/*==========================*/
/*             Portfolio             */
/*=========================*/

.portfolio-section{
    background: linear-gradient(rgba(255,221,153,0.9),rgba(255,221,153,0.9)),url(img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}
.portfolio-section h2{
    color: #3C4761;
}
.portfolio-section h2::after{
    background: #e5c37f;
}

.portfolio-filter{
    margin: 4.5rem 0;
}

.portfolio-filter button{
    background: #ebc985;
    font-size: 1.8rem;padding: 1rem 2rem;
    border: 0;
    border-radius: 0.6rem;
    text-transform: uppercase;
    color: #3C4761;
    margin: 0 0.5rem;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow: inset 0 0.3rem 0.5rem rgba(60,71,97,0.5);
    transition: 0.5s;
}



.portfolio-image{
    width: 100%;
    height: auto;
}

.portfolio-section .col:nth-child(3){
    margin-left: 0;

}

.portfolio-section .btn-load-more{
    background: #17c2a4;
    border-color: #14a58c;
}




.portfolio-section .mixitup-control-active{
    background: #fff;
}

/*==========================*/
/* Testimonial Section */
/*=========================*/

.testimonial{
    background: linear-gradient(rgba(215,70,128,0.7),rgba(215,70,128,0.7)),url(img/testimonial-bg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.testimonial h2::after{
    background: #B73C6D;
}
.testimonial .little-discription {
    text-align: center;
    color: #fff;

}
.testimonial .col:nth-child(3){
    margin-left: 0;
}
.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2){
    margin-top: 4rem;
}
.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
    margin-top: 8rem;
}
.client-photo{
    width: 10rem;
    float: left;
}
.client-photo img{
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.client-review{
    width: 35rem;
    float: left;
}
.client-review h3{
    color: #FFF;
}
.client-review p{
    font-size: 2rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
}
.client-review .role{
    color: #FFDD99;
}

/*==========================*/
/* Contact Section */
/*=========================*/

.contact-section{
    background: linear-gradient(rgba(60,84,153,0.9),rgba(60,84,153,0.9)),url(img/contact-bg.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contact-section h2::after{
    background: #273A71;
}
.contact-section .little-discription{
    color: #fff;
}

.contact-section form{
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%;
    
}
.contact-section textarea{
    height: 20rem;
}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
    background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    margin: 0.5rem 0;
}
.contact-section form ::placeholder{
    color: #fff;
    opacity: 1;
}


.btn-submit{
    border: 0;
    border-bottom: 0.3rem solid #299ec5;
    background: #30BAE7;
}
.btn-submit:hover{
    cursor: pointer;
}
/*==========================*/
/* Footer Section */
/*=========================*/
.footer-section{
    background: #344b8e;
    padding: 3rem 0;
    text-align: center;
    border-top: 0.1rem solid rgba(255,255,255,0.2);
    
}
.footer-section ul li{
    display: inline-block;
    margin: 0 2rem;
}
.footer-section li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.4rem;
}
.footer-section li a:hover{
    color: #30BAE7;
}












